*{
    margin:0;
    font-family: Montserrat;
}

header{
    background-color: #8C5B97;
    padding:2.5rem;
    color:white;
}

.row-land{
    /*display: grid;
    grid-template-columns: 50% 50%;
    max-width:100%;
    height:100vh;*/
    background: #8C5B97;
    font-family: Montserrat-bold;

}

.Intro{
    background: #8C5B97;
    color:#FFFFFF;
    border-style:solid;
    text-align: center;
    
}

.avatardiv{
    background: #8C5B97;
    color:#FFFFFF
}

img{
   width: 60%;
    height:auto;

}

a{
    
    text-decoration: none;
    padding:1.5rem;
}
h1,h2{
    text-align: center;
    padding:2rem;
}

.skills-land{
    background: #8C5B97;
    color:white;
}

form{
    text-align: center;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  button {
      background:grey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }

  .footer{
    background: #8C5B97;
    color:white;
    text-align: center;
    padding:1.5rem

  }

  .container-two{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width:100%;
    height:100vh;
    background: #EEEEF5;

}

.projects-page{
    background: #5EADB6;
    padding:2rem;
    color:white;
}

.card-title{
    color:black
}